.BigGear {
  /* position: absolute; */
  width: 90px;
  height: 90px;
  margin-right: 10px;
  /* top: -33px;
  right: -10px; */
  display: inline-block;
}

.BigGear img {
  animation: BigGear-spin infinite 40s linear;
  max-width: 100%;
}

@keyframes BigGear-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
