section {
  margin: 2rem 0;
  padding: 2rem 0;
}

h2 {
  font-family: 'Emilys Candy', sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  color: $color4;
  margin: 0;
}

h3 {
  font-family: 'Emilys Candy', sans-serif;
  font-size: 2.4rem;
  line-height: 3.3rem;
  font-weight: 700;
  color: #3096a7;
  margin: 0 0 2rem;
  padding: 0 0 2rem;
  width: 100%;
  text-align: center;

  @media screen and (min-width: 960px) {
    text-align: left;
  }
}

h4 {
  font-family: 'Merriweather', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 1rem;
  color: #3096a7;
}

h5 {
  color: #e5ca8f;
  font-family: 'Merriweather', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 1.15rem;
  line-height: 1.5;
  margin: 0 0 2rem;
  color: #e5ca8f;
  letter-spacing: 0.01rem;
}

li {
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0 0 1.5rem;
  color: #c5ac78;
  letter-spacing: 0.01rem;
}

a {
  color: #ea5d55;
  text-decoration: none;
  transition: color 125ms ease-in;

  &:hover {
    color: #ed726b;
  }
}

hr {
  border: none;
  height: 1px;
  width: 95%;
  background: linear-gradient(
    90deg,
    rgba(153, 215, 225, 0),
    rgba(153, 215, 225, 0.66),
    rgba(153, 215, 225, 0)
  );
  margin: 1rem auto;
}

